  <div>
    <div class="panel panel-default">
      <a class="panel-heading" (click)="isCollapsed = !isCollapsed">
        Create Post
      </a>
      <div class="panel-body" *ngIf="!isCollapsed">
        <form [formGroup]="postForm" (ngSubmit)="createPost()">
          <ul>
            <li class="text-danger" *ngIf="postForm.get('title').hasError('required') && postForm.get('title').touched">
              The title is required.
            </li>
            <li class="text-danger" *ngIf="postForm.get('content').hasError('required') && postForm.get('content').touched">
              The content is required.
            </li>
            <li class="text-danger" *ngIf="(postForm.get('content').hasError('minlength') || postForm.get('content').hasError('maxlength')) && postForm.get('content').touched">
              The content must be between 10 and 250 characters.
            </li>
          </ul>
          <div class="form-group">
            <label>Post title</label>
            <input type="text" class="form-control" formControlName="title">
          </div>
          <div class="form-group">
            <label>Post content</label>
            <textarea cols="5" rows="5" class="form-control" formControlName="content"></textarea>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-info" type="submit" [disabled]="postForm.invalid">
              Create Post
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
