<div class="row">
  <div [ngClass]="{'col-md-6' : !isCollapsed, 'col-md-10' : isCollapsed}">
    <div class="panel panel-default">
      <a class="panel-heading">
        Latest Posts
      </a>
      <div class="panel-body">
        <article class="post" *ngFor="let post of latestPosts">
          <header> {{ post.title }} by {{ post.author?.name }} </header>
          <p> {{ post.content }} </p>
        </article>
      </div>
    </div>
  </div>
  <app-create-post #createPost [ngClass]="{'col-md-6' : !isCollapsed, 'col-md-2' : isCollapsed}"></app-create-post>
</div>
